---
import Layout from "../../layouts/Layout.astro";
import Teasers from "../../components/Teasers.astro";
import Filters from "../../components/Filters.astro";

import { getCollection } from "astro:content";

import { getSortedCharacters } from "../../js/backend.js";

export async function getStaticPaths() {
    const filters = await getCollection("filters");
    const paths = filters.map((filter) => ({
        params: { filter: filter.slug },
        props: filter,
    }));
    return paths;
}

const filter = Astro.props;
---

<Layout title="top | Swup Demo">
    <h1>characters | index</h1>
    <div id="characters-list">
        <Filters filter={filter} mark-active={true} />
        <Teasers filter={filter} />
    </div>
</Layout>
