---
import Layout from "../layouts/Layout.astro";
---

<Layout title="top | Swup Demo">
    <h1>About This Page</h1>
    <p>This page will be fully replaced when navigating to the items.</p>
    <p class="buttons">
        <a class="button" href="/">← Go back</a>
    </p>
    <p class="buttons">
        <a class="button" href="/items/">View Items  →</a>
    </p>
</Layout>
